:host {
  background-color: blanchedalmond;
  width: 44vw;
  margin: 0 15px 10px 15px;
}

.turn {
  font-weight: 500;
  margin-bottom: -15px;
  text-align: center;
  font-size: large;
  margin-top: 5px;
  color: green;
}

.board-label {
  margin: 20px 40px;
  display: flex;
  background-color: burlywood;
  justify-content: space-evenly;
  font-size: xx-large;
}

.play-area {
  display: flex;
  justify-content: space-around;
}

.line {
  display: flex;
  flex-direction: row-reverse;
}

.tile-space {
  margin: 1vw;
}
@media only screen and (max-width: 600px) {
  .tile-space {
  }
}
.broken-line {
  display: flex;
  margin: 0 4%;
  justify-content: space-around;
}
