<div class="game-table">
  <div class="container">
    <div #spareContainer class="spare">
      <app-tiles
        #spareTiles
        *ngFor="let t of tableTiles"
        [color]="t.color"
        [selected]="t.selected"
        [isSelectable]="t.color != 'white'"
        (click)="onTileClicked(-1, { color: t.color, select: !t.selected })"
      ></app-tiles>
    </div>
    <div class="circles">
      <app-circle
        #circleContainer
        *ngFor="let c of roundTiles; let i = index"
        [tiles]="c"
        (clicked)="onTileClicked(i, $event)"
      ></app-circle>
    </div>
  </div>
  <div class="boards">
    <app-player-board
      *ngFor="let player of players"
      [player]="player"
      [timeToCountPoints]="countPoints"
      (tilesWereSelected)="onTilesPlaced()"
    ></app-player-board>
  </div>
</div>
