:host {
  background-color: beige;
  height: 100%;
}

.game-table {
  background: darkgray;
  display: flex;
  width: fit-content;
  flex-direction: column;
}

.container {
  margin: 25px 50px;
}

.spare {
  width: 500px;
  height: 150px;
  float: left;
}

.circles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
