.tile {
  border-radius: 3px;
  width: 2vw;
  height: 2vw;
  text-align: center;
  line-height: 2vw;
}

.tile.selectable {
  cursor: pointer;
}

.tile.empty {
  opacity: 0.4;
}

.highlited {
  border: 1px solid black;
}

.greentile {
  background-image: url(../../../assets/verde.jpg);
  background-size: cover;
}

.rosetile {
  background-image: url(../../../assets/rose.jpg);
  background-size: cover;
}

.coltile {
  background-image: url(../../../assets/col.jpg);
  background-size: cover;
}

.olivetile {
  background-color: olivedrab !important;
}
