.tile {
  border-radius: 3px;
  width: 2vw;
  height: 2vw;
  text-align: center;
  line-height: 2vw;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

@media only screen and (max-width: 600px) {
  .tile {
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
}

.tile.selectable {
  cursor: pointer;
}

.tile.empty {
  opacity: 0.4;
  box-shadow: none;
}

.highlited {
  border: 1px solid black;
}

.greentile {
  background-image: url(../../../assets/verde.jpg);
  background-size: cover;
}

.rosetile {
  background-image: url(../../../assets/red.jpg);
  background-size: cover;
}
.coltile {
  background-image: url(../../../assets/escuro.jpg);
  background-size: cover;
}

.one {
  background-image: url(../../../assets/tile.jpg);
  background-size: cover;
}

.olivetile {
  background-color: olivedrab !important;
}
